.custom-footer {
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  /* position: fixed;
  bottom: 0; */
  /* background: white; */
  /* z-index: 100; */
  /* margin: 0;
  height: 80px;
  padding-top: 24px; */
}
