<footer class="ae-container-fluid rk-footer">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <p class="rk-footer__text rk-footer__copy">
        <span class="ae-u-bold">© </span
        ><span class="ae-u-bolder">{{ anio }} GTS SPAIN </span>All Right
        Reserved.
      </p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a
        target="_blank"
        [href]="infoService.info.facebook"
        class="rk-social-btn"
      >
        <fa-icon [icon]="faFacebookF" class="social-icon"></fa-icon></a
      ><a
        target="_blank"
        [href]="infoService.info.twitter"
        class="rk-social-btn"
      >
        <fa-icon [icon]="faTwitter" class="social-icon"></fa-icon></a
      ><a
        target="_blank"
        [href]="infoService.info.instagram"
        class="rk-social-btn"
      >
        <fa-icon [icon]="faInstagram" class="social-icon"></fa-icon></a
      ><a
        target="_blank"
        [href]="infoService.info.linkedIn"
        class="rk-social-btn"
      >
        <fa-icon [icon]="faLinkedin" class="social-icon"></fa-icon
      ></a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact">
        <span class="ae-u-bold">Email: </span
        ><span class="ae-u-bolder">
          <a
            [href]="mailto()"
            target="_blank"
            rel="noopener noreferrer"
            class="rk-dark-color"
            >{{ infoService.info.email }}</a
          >
          <!-- <a href="#0" class="rk-dark-color"
            >{{ infoService.info.email }}
          </a> --></span
        >
      </p>
    </div>
  </div>
</footer>
