<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">DECLARACIÓN DE PRIVACIDAD DE GLOBAL TECH SQUAD</h4>
    <h6 class="ae-u-boldest">
      Fecha de entrada en vigor: 3 de octubre de 2019
    </h6>
    <p>
      Esta Declaración de privacidad explica cómo recopilan, controlan, tratan y
      utilizan GTS la información sobre usted (lo que se denomina “datos
      personales”). Cuando decimos “GTS”, “nosotros”, “nuestro” o “nos”,
      queremos decir Global Tech Squad. Proporciona plataformas donde los
      proveedores externos no afiliados (de forma colectiva, “Proveedores”)
      pueden enumerar propuestas de cupones, ofertas y rebajas. Cuando decimos
      la “App” queremos decir nuestra plataforma.
    </p>
    <h6 class="ae-u-boldest">
      Cambio
    </h6>
    <p>
      De forma rutinaria actualizamos esta Declaración de privacidad para
      clarificar nuestras prácticas y reflejar nuevas o distintas prácticas de
      privacidad, como cuando añadimos al Sitio nuevos servicios, funciones o
      características. Si efectuamos algún cambio importante, le avisaremos por
      correo electrónico (enviado a la dirección de correo electrónica que se
      especifica en su cuenta), mediante un aviso en el Sitio o de otro modo.
      Puede determinar cuándo se adoptó esta versión de la Declaración de
      privacidad remitiéndose a la “Fecha de entrada en vigor” que se muestra al
      principio. Usted entiende que su utilización continua del Sitio después de
      que le enviemos un aviso sobre nuestros cambios a la Declaración de
      privacidad significa que la recopilación, control, tratamiento y
      utilización de sus datos personales se hace conforme a la Declaración de
      privacidad actualizada. Si se opone a cualquier cambio, puede modificar la
      configuración de su cuenta o cerrar su cuenta, tal y como se describe más
      adelante.
    </p>
    <h6 class="ae-u-boldest">
      1. Datos personales que recopilamos
    </h6>
    <p>
      Recopilaremos los siguientes datos personales cuando interactúe con el
      Sitio:
    </p>
    <ul>
      <li>
        Información de autentificación e identificación (p. ej., su nombre,
        dirección de correo electrónico y contraseña). Esta información es
        necesaria para configurar e iniciar sesión en su cuenta, pero tiene la
        opción de realizar compras sin crear una contraseña. Si no la
        proporciona, tal vez no podamos prestarle nuestra gama completa de
        servicios de la cuenta.
      </li>
      <li>
        Detalles personales básicos (p. ej., su nombre, fecha de nacimiento y
        nacionalidad).
      </li>
      <li>
        Detalles de contacto (p. ej., su dirección postal, número de teléfono y
        dirección de correo electrónico). Podemos necesitar parte de esta
        información para proporcionarle productos, por ejemplo, su dirección
        postal para enviar productos físicos y su dirección de correo
        electrónico para enviarle cupones, y no podremos llevar a cabo estos
        servicios si no la proporciona.
      </li>
    </ul>
    <p>
      Parte de la información que recopilamos es necesaria para que podamos
      prestar nuestros servicios o cumplir con nuestras obligaciones legales. Lo
      dejaremos claro cuando recopilemos esa información de usted.
    </p>
    <p>
      También recopilaremos automáticamente datos personales cuando interactúe
      con el Sitio desde su ordenador, dispositivo móvil u otro dispositivo.
      Estos datos personales incluyen:
    </p>
    <ul>
      <li>
        Datos de análisis (p. ej., información acerca de descargas de
        aplicaciones, historias de aplicaciones y páginas web), lo que puede
        incluir datos recopilados de cookies y otros tipos de identificadores de
        dispositivos.
      </li>
      <li>
        Información sobre el perfil (p. ej., vistas de páginas y ofertas en el
        sitio, detalles de compra, información  sobre clics e información acerca
        del sitio web en el que ha hecho clic hacia nuestro Sitio). Esto puede
        incluir datos acerca de su ubicación. Con respecto a la información de
        geolocalización recopilada desde su dispositivo móvil, únicamente la
        recopilaremos cuando haya proporcionado consentimiento.
      </li>
      <li>
        Detalles del dispositivo (p. ej., dirección MAC, dirección IP, datos de
        Bluetooth e identificadores de publicidad).
      </li>
    </ul>
    <p>
      También recibimos datos personales y otra información en línea y sin
      conexión de terceros con quienes llevamos a cabo actividades comerciales
      como comerciantes, agentes de comercialización, distribuidores,
      revendedores y otras empresas u organizaciones con quienes alcanzamos
      acuerdos para proporcionar apoyo a nuestro negocio y nuestras operaciones,
      lo que incluye socios de publicidad y proveedores de datos externos que
      nos proporcionan información suplementaria o adicional sobre nuestros
      clientes (en su conjunto, “Socios comerciales”).
    </p>
    <p>
      Los datos personales que recibimos de los Socios comerciales incluyen
      datos personales básicos, datos de contacto, datos del dispositivo y
      entradas de perfil, así como:
    </p>
    <ul>
      <li>
        Información de autentificación e identificación (p. ej., su nombre,
        dirección de correo electrónico y contraseña). Esta información es
        necesaria para configurar e iniciar sesión en su cuenta, pero tiene la
        opción de realizar compras sin crear una contraseña. Si no la
        proporciona, tal vez no podamos prestarle nuestra gama completa de
        servicios de la cuenta.
      </li>
      <li>
        Detalles personales básicos (p. ej., su nombre, fecha de nacimiento y
        nacionalidad).
      </li>
      <li>
        Detalles de contacto (p. ej., su dirección postal, número de teléfono y
        dirección de correo electrónico). Podemos necesitar parte de esta
        información para proporcionarle productos, por ejemplo, su dirección
        postal para enviar productos físicos y su dirección de correo
        electrónico para enviarle cupones, y no podremos llevar a cabo estos
        servicios si no la proporciona.
      </li>
    </ul>
    <p>
      Parte de la información que recopilamos es necesaria para que podamos
      prestar nuestros servicios o cumplir con nuestras obligaciones legales. Lo
      dejaremos claro cuando recopilemos esa información de usted.
    </p>
    <p>
      También recopilaremos automáticamente datos personales cuando interactúe
      con el Sitio desde su ordenador, dispositivo móvil u otro dispositivo.
      Estos datos personales incluyen:
    </p>
    <ul>
      <li>
        información demográfica (por ejemplo, detalles sobre los grupos de edad
        y el nivel de estudios).
      </li>
      <li>
        datos de ubicación (por ejemplo, información sobre el código postal).
      </li>
      <li>
        información de compra de sitios externos (por ejemplo, información sobre
        compras en otros sitios).
      </li>
    </ul>
    <p>
      Solo recibiremos datos de nuestros Socios comerciales cuando estén
      legalmente autorizados a compartirlos, y solo trataremos esos datos para
      los fines que se describen a continuación. Utilizamos los datos
      proporcionados para entender mejor sus preferencias, las ofertas que son
      relevantes para usted y qué rendimiento muestran nuestros comerciantes. Al
      combinar los datos que recopilamos directamente de usted con los que
      recibimos de terceros, podemos ofrecerle una experiencia de Clubin mejor y
      más personalizada.
    </p>
    <p>
      Recopilaremos los datos personales descritos anteriormente en diversas
      etapas de su relación con nosotros cuando:
    </p>
    <ul>
      <li>
        Se registre, suscriba, autorice la transferencia de, o cree, una cuenta
        con nosotros. Si elige no crear una contraseña para su cuenta, crearemos
        una cuenta y enlazaremos los detalles de su compra a su dirección de
        correo electrónico, para la cual puede establecer una contraseña durante
        cada compra.
      </li>
      <li>
        Abra o responda a mensajes o correos electrónicos nuestros.
      </li>
      <li>
        Proporcione información para inscribirse o participar en programas
        proporcionados en nombre de, o junto a, Vendedores y Socios comerciales,
        con su consentimiento o según resulte necesario para prestar los
        servicios que ha solicitado.
      </li>
      <li>
        Visite cualquier página en línea que muestre nuestros contenidos o
        anuncios.
      </li>
      <li>
        Compre servicios o productos de los vendedores en o a través del Sitio.
      </li>
      <li>
        Se conecte, inicie sesión o haga clic en un vínculo que enlace con el
        Sitio con herramientas de las redes sociales.
      </li>
      <li>
        Publique comentarios en línea en las secciones de comunidades del Sitio.
      </li>
    </ul>
    <p>
      También creamos perfiles sobre usted en función de los datos personales
      que nos proporciona o que se recogen sobre usted, según lo descrito
      anteriormente e incluidos los datos personales que recibidos de Socios
      comerciales. Hacemos esto para hacerle ofertas sobre productos o servicios
      que creemos que le podrían interesar. Los contenidos de ese perfil
      incluyen:
    </p>
    <ul>
      <li>
        <strong> Detalles de la cuenta.</strong> Por ejemplo, creamos una
        dirección URL permanente con la página de su cuenta que puede incluir su
        nombre. También generamos identificadores para recordar su historial de
        compras y suscripciones, y cualquier número de fidelidad que haya podido
        obtener.
      </li>
      <li>
        <strong> Información de segmento para marketing.</strong> Por ejemplo,
        si adquiere productos o servicios relacionados con belleza y bienestar,
        podemos deducir que le interesan estos tipos de productos, o si compra
        ofertas de escapadas de Groupon, podemos deducir que viaja
        frecuentemente.
      </li>
      <li>
        <strong> Información sobre el público objetivo.</strong> Creamos grupos
        de público objetivo en función de parámetros como el sexo, la edad y la
        ubicación (p. ej., varones de entre 25 y 35 años en su ciudad), y si sus
        datos personales coinciden con las de ese público objetivo, se le
        asignará a tal grupo. Así podrá recibir ofertas relevantes para usted.
      </li>
      <li>
        <strong> Información de actividad.</strong> A tenor de sus interacciones
        con las comunicaciones, generaremos datos personales acerca de cuántas
        comunicaciones le gusta recibir, para enviarle únicamente las que le
        resultan útiles.
      </li>
    </ul>
    <h6 class="ae-u-boldest">
      2. Sus opciones
    </h6>
    <p>
      Puede gestionar los tipos de datos personales que nos proporciona y
      limitar cómo nos comunicamos con usted. Al mismo tiempo, creemos que
      cuanto más nos diga sobre usted y lo que le gusta, más relevante y valiosa
      será su experiencia con nuestro Sitio y servicios.
    </p>
    <p>
      Puede gestionar sus preferencias de correo electrónico, notificaciones
      “push”, información de ubicación y notificación de suscripción al iniciar
      sesión en su cuenta desde el Sitio o ajustar la configuración en nuestra
      aplicación móvil:
    </p>
    <ul>
      <li>
        <strong> Notificaciones “push” e información de ubicación.</strong> Su
        dispositivo y la aplicación móvil Clubin le proporcionan opciones para
        controlar las notificaciones “push” y cómo y cuándo recopilamos su
        geolocalización. Puede desautorizar nuestra utilización de determinados
        datos de ubicación desde la configuración de su dispositivo con
        navegador, por ejemplo, al desactivar los servicios de “Ubicación” para
        la aplicación Clubin en las configuraciones de privacidad de Android y
        iOS de Apple, o al desactivar los servicios de “Ubicación” para su
        dispositivo.
      </li>
      <li>
        <strong> Suscripciones.</strong> También puede gestionar sus
        suscripciones si sigue las instrucciones de gestión de suscripciones que
        contienen los correos electrónicos comerciales que le enviamos. Puede
        optar por suscribirse a algunos tipos de mensajes, y elegir no
        suscribirse o darse de baja de otros. Puede actualizar en cualquier
        momento sus preferencias de suscripción. Incluso si decide no
        suscribirse o darse de baja de correos electrónicos de promoción, tal
        vez necesitemos ponernos en contacto con usted con información
        importante sobre transacciones relacionada con su cuenta y sus compras a
        Vendedores. Por ejemplo, incluso si se ha dado de baja de nuestras
        notificaciones “push” o mensajes de correo electrónico promocionales,
        aun así le enviaremos confirmaciones cuando realice compras en el Sitio.
      </li>
      <li>
        <strong> Cookies.</strong> Puede gestionar cómo trata las cookies su
        navegador. También puede gestionar cómo comparten información con
        nosotros su dispositivo móvil y su navegador móvil, y también cómo
        gestiona las cookies su navegador móvil. Remítase a nuestra Política de
        Cookies para obtener más información.
      </li>
      <li>
        <strong> Objeción al uso de los datos.</strong> En determinadas
        circunstancias, usted tiene derecho a oponerse al uso de sus datos
        personales. En particular, puede oponerse a que usemos sus datos
        personales cuando los utilicemos para satisfacer nuestros propios
        intereses en la gestión de nuestra empresa (como se describe más
        adelante en &quot;Cómo utilizamos la información&quot;, incluido el uso
        de sus datos con fines de marketing y la gestión de nuestras necesidades
        empresariales). Si usted se opone a que utilicemos sus datos,
        evaluaremos la objeción y dejaremos de tratar esos datos tras la
        confirmación de una solicitud válida. Para obtener más información,
        consulte la sección &quot;Sus derechos&quot; a continuación.
      </li>
      <li>
        <strong> Redes sociales.</strong> También puede gestionar qué tipo de
        datos personales comparte cuando se conecta con nosotros a través de
        aplicaciones o plataformas de redes sociales. Remítase por favor a la
        Sección 8 más adelante y también a la política de privacidad y la
        configuración de la aplicación o sitio web de la red social para
        determinar cómo puede ajustar nuestros permisos y gestionar la
        interactividad entre nosotros y su cuenta en la red social o su
        dispositivo móvil.
      </li>
    </ul>
    <h6 class="ae-u-boldest">
      3. Sus derechos
    </h6>
    <p>
      Puede acceder, actualizar, rectificar y eliminar sus datos personales que
      componen parte de su perfil al iniciar sesión en su cuenta o si se pone en
      contacto con nosotros aquí. Mantener actualizados sus datos personales
      contribuye a garantizar que podemos respetar sus preferencias y ofrecerle
      los bienes y servicios más relevantes para usted.
    </p>
    <p>
      De conformidad con la legislación aplicable, puede i) solicitar acceso a
      cualquier dato personal que mantengamos sobre usted; ii) solicitar que se
      actualice, rectifique, elimine o bloquee; iii) solicitar que eliminemos
      datos personales que mantengamos sobre usted; iv) solicitar que
      restrinjamos nuestro tratamiento de sus datos personales; y v) solicitar
      que le proporcionemos a usted o a un tercero una copia de determinados
      datos personales sobre usted (lo que se denomina el derecho a la
      “portabilidad de los datos”). También puede oponerse a cualquiera de
      nuestros usos de sus datos personales, según se describen en esta
      política, incluidas nuestras actividades de marketing. También puede
      revocar su consentimiento para el tratamiento de sus datos personales, en
      la medida en que fuera requerido el consentimiento y otorgado por usted.
    </p>
    <h6 class="ae-u-boldest">
      4. Cómo utilizamos la información
    </h6>
    <p>
      Controlamos y tratamos los datos personales que nos proporciona, los que
      recopilamos de otras fuentes y los que generamos para:
    </p>
    <ul>
      <li>
        Crear su cuenta cuando se registra e inicia sesión, lo que resulta
        necesario para prestarle nuestros servicios de conformidad con las
        <a routerLink="/terms&conditions">Condiciones de Uso.</a> Si hace
        compras sin crear una contraseña, enlazaremos dichas compras a su
        dirección de correo electrónico y crearemos una cuenta segura en
        nuestros sistemas. Si usted crea una contraseña posteriormente, podrá
        ver las anteriores compras realizadas con una dirección de correo
        electrónico concreta;
      </li>
      <li>
        Operar, mantener y mejorar el Sitio, al analizar cómo utiliza e
        interactúa con el Sitio usted y otros clientes. Esto es así para cumplir
        con nuestros intereses comerciales legítimos al proporcionar el Sitio y
        prestar la mejor experiencia para nuestros clientes.
      </li>
      <li>
        Validar, facilitar y prevenir las compras fraudulentas. Esto puede
        incluir procesar pedidos de vales y otros bienes y servicios,
        verificación de pagos y verificación de que son válidos los vales
        canjeados por los clientes. Esto es necesario para cumplir nuestros
        compromisos contractuales con usted como se establece en las
        <a routerLink="/terms&conditions">Condiciones de Uso.</a>
      </li>
      <li>
        Llevar a cabo el marketing, lo que puede suponer:
        <ul>
          <li>
            Establecer y analizar el comportamiento de clientes y perfiles
            individuales y de grupo para determinar su interés y el de otras
            personas en determinados tipos de ofertas, productos y servicios.
            Esto lo hacemos mediante el análisis de sus interacciones con el
            Sitio y sus otros datos personales (incluidos los datos personales
            recibidos de Socios comerciales) para determinar cuáles son sus
            intereses, y qué tipos de servicios y productos compran personas con
            intereses similares, lo que nos ayuda a comprender qué productos y
            servicios le puede interesar ver. Se hace así para atender nuestros
            intereses legítimos de comprender los tipos de productos y servicios
            que les interesan a nuestros clientes, y proporcionarle a usted y a
            nuestros otros clientes los productos más relevantes.
          </li>
          <li>
            Mostrar publicidad y ofertas relevantes. Utilizaremos los perfiles
            anteriormente descritos para crear publicidad para nuestros
            productos que se mostrará en sitios de terceros relevantes. Hacemos
            esto para cumplir con nuestros intereses legítimos de mostrarle
            productos que puedan ser relevantes para usted, y usted puede
            renunciar a ver estos tipos de anuncios, según se describe en
            nuestra Política de Cookies.
          </li>
          <li>
            Enviarle mensajes de marketing directo relevantes y otras
            comunicaciones por correo electrónico o notificaciones “push” en
            dispositivos móviles lo que incluye, con su consentimiento, utilizar
            sus datos de ubicación para notificarle ofertas a medida según la
            ubicación. Le enviaremos estos mensajes sobre la base de que ha
            consentido recibirlos o, cuando lo permita la legislación
            pertinente, satisfacer nuestros intereses legítimos de mostrarle
            cuáles de nuestros productos y servicios son relevantes para usted.
          </li>
          <li>
            Analizar la efectividad de la publicidad, lo que puede suponer
            analizar las campañas de publicidad con las que nuestros clientes
            eligen interactuar más frecuentemente. Es así para satisfacer
            nuestros intereses legítimos de comprender qué tipos de campañas de
            publicidad son más o menos efectivas que otras.
          </li>
        </ul>
      </li>
      <li>
        Responder a sus preguntas y a sus solicitudes, por ejemplo, en el
        contexto del servicio de atención al cliente. Es así para cumplir con
        nuestros compromisos contractuales con usted de las
        <a routerLink="/terms&conditions">Condiciones de Uso.</a> como parte del
        proceso de compra o cumplir con obligaciones legales (como permitirle
        ejercer sus derechos según se describe anteriormente) y, en otros casos,
        satisfacer nuestros intereses legítimos de proporcionar un buen servicio
        a nuestros clientes.
      </li>
      <li>
        Enviarle recordatorios, avisos técnicos, actualizaciones, alertas de
        seguridad, mensajes administrativos y de asistencia técnica, boletines
        de servicio e información solicitada, incluido en nombre de Socios
        comerciales, Filiales de la UE u otros Vendedores. Se hace así para
        satisfacer nuestros intereses legítimos de gestionar con efectividad
        nuestra relación con usted.
      </li>
      <li>
        Administrar recompensas, encuestas, sorteos, concursos u otros eventos o
        actividades promocionales, para cumplir nuestros compromisos
        contractuales según se establece en los términos y condiciones de esos
        eventos promocionales.
      </li>
      <li>
        Gestionar nuestras necesidades comerciales diarias, tales como la
        administración del Sitio, gestión de foros, desempeño, análisis,
        prevención del fraude y aplicación de nuestras obligaciones corporativas
        de informar y de las
        <a routerLink="/terms&conditions">Condiciones de Uso.</a> o para cumplir
        con la legislación.
      </li>
      <li>
        Cumplir con nuestras obligaciones legales, solucionar disputas y hacer
        cumplir nuestros acuerdos. Hacemos esto cuando resulta necesario para
        cumplir con obligaciones legales a las que estamos supeditados,
        satisfacer nuestros intereses legítimos para hacer que se cumplan
        nuestros derechos legales y solucionar disputas, verificar pagos y
        prevenir el fraude.
      </li>
    </ul>
    <h6 class="ae-u-boldest">
      5. Cuándo y por qué divulgamos datos personales
    </h6>
    <p>Compartimos sus datos personales como se indica a continuación:</p>
    <ul>
      <li>
        Con su consentimiento.
      </li>
      <li>
        Con Socios comerciales y Porveedores externos no afiliados, para que
        puedan venderle, proporcionarle y prestarle los servicios o productos
        adquiridos (p. ej., proporcionarle productos a usted o proporcionarle a
        un proveedor de escapadas sus detalles para que puedan confirmar las
        reservas). Intercambiamos datos personales con Socios comerciales y
        Vendedores externos no afiliados para cumplir con nuestras obligaciones
        contractuales con usted, y ellos no pueden utilizar sus datos personales
        de forma que no sea para vender, proporcionar los productos o prestar o
        servicios que haya comprado.
      </li>
      <li>
        Con terceros que proporcionan herramientas y servicios para ayudarnos a
        comprender mejor sus preferencias sobre las ofertas, y poder así
        mostrarle en sitios web de terceros anuncios de bienes, servicios u
        ofertas de Clubin más adecuados para sus gustos e intereses. Esos
        terceros también pueden utilizar sus datos personales para incorporarlo
        a su base de clientes actual. Puede interrumpir nuestra utilización de
        estas herramientas como se describe en nuestra
        <a routerLink="/terms&conditions">Política de Cookies.</a>
      </li>
      <li>
        En relación con una fusión, consolidación o reestructuración
        corporativa, la venta de básicamente todas nuestras acciones o activos u
        otro cambio corporativo, lo que incluye, sin limitación, durante el
        curso de cualquier proceso de diligencia debida.
      </li>
      <li>
        Para cumplir con órdenes judiciales y solicitudes gubernamentales, o
        cuando sea necesario como apoyo a las funciones de auditoría,
        cumplimiento y gobierno corporativo, cuando esto resulte necesario para
        cumplir con estas obligaciones legales.
      </li>
      <li>
        Para combatir el fraude o actividades delictivas, y proteger nuestros
        derechos o los de nuestras Filiales de la UE, Vendedores o Socios
        comerciales y usuarios, o como parte de procesos legales que nos afecten
        a nosotros o a nuestras Filiales de la UE, porque forma parte de
        nuestros intereses legítimos prevenir el fraude y proteger estos
        derechos.
      </li>
      <li>
        En respuesta a una citación o proceso legal similar, incluido para
        agencias de aplicación de la ley, encargados del cumplimiento y
        tribunales, en la medida en que sea necesario para cumplir con tales
        obligaciones legales.
      </li>
    </ul>
    <p>
      Instamos a nuestros Socios comerciales y Proveedores externos no afiliados
      a que adopten y publiquen políticas de privacidad. No obstante, aunque
      intercambiamos datos personales con Proveedores y Socios comerciales
      únicamente para los fines anteriormente mencionados, la utilización y
      tratamiento posterior de los datos personales que hayan obtenido a través
      de nosotros y nuestras Filiales europeas se rige por sus propias prácticas
      y políticas de privacidad y no se encuentra bajo nuestro control (excepto
      para la utilización y tratamiento por parte de Proveedores y Socios
      comerciales que nos proporcionen servicios a nosotros, según lo descrito
      anteriormente). Cuando sea posible, restringimos mediante contrato de qué
      forma pueden utilizar sus datos personales nuestros Proveedores y Socios
      comerciales, comerciantes incluidos, y tenemos como objetivo asegurarnos
      de que no lo utilizan para ningún fin incompatible con los que se
      establecen en esta declaración de privacidad.
    </p>
    <p>
      En algunos casos expuestos anteriormente, transferiremos sus datos
      personales a un país ubicado fuera del Espacio Económico Europeo donde tal
      vez se considere que el nivel de protección de los datos personales no es
      el mismo que el de la legislación europea. En tales casos, aplicamos
      protecciones apropiadas, lo que incluye compromisos contractuales
      autorizados por la Comisión Europea, sobre los destinatarios de los datos,
      para garantizar que sus datos personales reciben la protección adecuada.
      Para obtener más información acerca de las medidas de seguridad vigentes y
      ver una copia de tales medidas, póngase en contacto con nosotros mediante
      los detalles que se ofrecen más adelante.
    </p>
    <h6 class="ae-u-boldest">
      6. Seguridad de los datos personales
    </h6>
    <p>
      Hemos puesto en marcha un programa de seguridad de la información que
      contiene controles administrativos, técnicos y físicos diseñados para
      proteger sus datos personales, que incluyen la tecnología de cifrado
      estándar del sector. No obstante, ningún método de transmisión por
      Internet o método de almacenamiento electrónico es 100 % seguro. Por lo
      tanto, no podemos garantizar su seguridad absoluta.
    </p>
    <h6 class="ae-u-boldest">
      7. Conservación de datos personales
    </h6>
    <p>
      Conservaremos sus datos personales mientras su cuenta esté activa o según
      sea necesario para proporcionarle servicios. Si cierra su cuenta,
      conservaremos sus datos personales durante un período de tiempo cuando sea
      necesario para que nuestro negocio continúe funcionando con efectividad,
      mantener un registro de sus transacciones para elaborar informes
      financieros o prevenir el fraude hasta que esos fines dejen de existir; o
      los conservaremos según sea necesario para cumplir con nuestras
      obligaciones legales, solucionar disputas o hacer cumplir nuestros
      acuerdos.
    </p>
    <h6 class="ae-u-boldest">
      8. Prácticas de privacidad de terceros
    </h6>
    <p>
      Esta Declaración de privacidad solo se refiere a la recopilación,
      tratamiento y utilización (lo que incluye la divulgación) que hacemos de
      sus datos personales a través de su interacción con el Sitio. Otros sitios
      web a los que se pueda acceder a través de enlaces desde el Sitio pueden
      tener sus propias declaraciones de privacidad y sus propias prácticas de
      recopilación, tratamiento, utilización y divulgación de datos personales.
      Nuestros Socios comerciales también pueden tener sus propias declaraciones
      de privacidad. Le animamos a que se familiarice con las declaraciones de
      privacidad de estos terceros antes de darles información o aprovecharse de
      una oferta o promoción patrocinada por dichos terceros.
    </p>
    <h6 class="ae-u-boldest">
      9. Contacto con nosotros
    </h6>
    <p>
      Si desea ejercer cualquiera de los derechos anteriormente mencionados, o
      cualquier otro derecho relativo a sus datos personales, por favor póngase
      en contacto con nuestro delegado de protección de datos en la siguiente
      direcció de correo electrónico: info@gtsonline.com
    </p>
    <h6 class="ae-u-boldest">
      10. Otros contactos
    </h6>
    <p>
      Nos comprometemos a trabajar con usted para obtener una resolución justa
      de cualquier solicitud, queja o inquietud relacionada con nuestra
      utilización de sus datos personales. No obstante, si cree que no le hemos
      podido ayudar, tiene derecho a plantear una queja ante la autoridad de
      protección de datos de su país de residencia
      <a>https://www.agpd.es/</a>
    </p>
  </div>
</div>
