<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <!-- <h4 class="ae-u-bolder">DECLARACIÓN DE PRIVACIDAD DE GLOBAL TECH SQUAD</h4> -->
    <h6 class="ae-u-boldest">Términos de Uso de ClubIn</h6>
    <p>
      Ésta página establece los términos de uso de la aplicación ClubIn y de los
      servicios que ofrecemos.
    </p>

    <p>
      1. Algunos aspectos básicos que debe conocer acerca de estos términos de
      uso
    </p>
    <p>
      1.1. Qué es este documento y quienes somos nosotros: Está leyendo un
      documento de carácter jurídico que consiste en el acuerdo entre usted, el
      Usuario (a quien también denominaremos como “usted”, “de usted” o “el
      Usuario”) y nosotros. Usted muestra su conformidad con los términos de uso
      que aparecen a continuación, a los cuales nos referiremos como el
      “Acuerdo”. Somos Global Tech Squad, operamos esta aplicación y ofrecemos
      una serie de servicios relacionados con él. Global Tech Squad es una
      sociedad registrada en España, con sede social en Las Palmas de GC, Calle
      Castrillo 34, CP 35110. Nuestro número de identificación fiscal es
      24465520Y. En este documento nos denominamos a nosotros mismos como
      “GTS&quot;, “nosotros”, “nos” o “nuestro”, y nos referimos a nosotros
      mismos.
    </p>
    <p>
      1.2. Qué hacemos: Ofrecemos una plataforma, en la que nosotros y otras
      empresas (denominadas en lo sucesivo “Proveedores”) pueden ofrecer
      cupones, ofertas, productos, accesos y otros productos (denominados en lo
      sucesivo “Productos”). Como suministrador de la plataforma ayudamos a
      hacer posibles publicaciones de productos en nuestra plataforma. Ofrecemos
      un lugar en el que los Proveedores y usted conectan. Por regla general,
      GTS no actuará como Proveedora, lo que significa que además de a este
      Acuerdo, usted puede estar sujeto a otras relaciones contractuales con
      diferentes entidades cuando interactúa con esta aplicación.
    </p>

    <p>
      1.3. Prohibición de uso: nos reservamos el derecho a prohibirle el uso de
      la app y de los servicios (o de cualquier parte de ellos).
    </p>

    <p>
      1.4. Definiciones: En este Acuerdo, se utilizarán diversos términos
      definidos. Usted sabrá que están definidos porque comienzan con una letra
      mayúscula. Los términos definidos se describen a lo largo de este Acuerdo
      y en la cláusula 13).
    </p>

    <p>2. Registrarse y usar una cuenta</p>

    <p>
      2.1. Cómo registrase: Para registrarse ha de proporcionarnos su filiación,
      dirección de correo electrónico y tal vez alguna otra información
      personal.
    </p>
    <p>
      2.2. Contraseñas: En el proceso de registro también nos tendrá que indicar
      su contraseña. Debe mantener la contraseña en secreto e informarnos
      inmediatamente si cualquier tercero no autorizado descubre esa contraseña,
      si hubiera un uso no autorizado de su correo electrónico o de cualquier
      fallo de seguridad del que usted tenga conocimiento. Usted reconoce que no
      somos responsables ni perseguibles en caso de que una persona que conozca
      su contraseña use nuestros servicios. Por favor, tenga en cuenta que usted
      es el único responsable si no mantiene la confidencialidad de su
      contraseña.
    </p>
    <p>
      2.3. Direcciones de correo válidas: Todas las cuentas deben abrirse con
      una dirección de correo electrónico personal a la que acceda regularmente.
      Las cuentas abiertas con la dirección de correo electrónico de otra
      persona o con direcciones de correo electrónico temporales podrán ser
      cerradas sin previo aviso. Es posible que pidamos a los usuarios que
      confirmen sus cuentas si pensamos que han estado usando una dirección de
      correo electrónico no válida.
    </p>
    <p>
      2.4. Correos electrónicos: GTS puede enviarle correos administrativos y
      promocionales. También podemos enviarle información sobre la actividad de
      su cuenta y sus compras, así como las actualizaciones de nuestra app y
      servicios, u otras ofertas promocionales. También podemos enviarle
      información sobre compras que haya realizado. (Puede cancelar la recepción
      de nuestros correos promocionales en cualquier momento pinchando el enlace
      de baja de la suscripción al final de cada correo de ese tipo.)
    </p>

    <p>
      2.5. Notificaciones Push: Cuando usted haya prestado su consentimiento,
      GTS podrá enviarle notificaciones push promocionales a sus dispositivos
      móviles, en relación con ofertas generales y ofertas basadas en su
      ubicación. Puede inhabilitar nuestras notificaciones push promocionales en
      cualquier momento, cambiando las preferencias en su dispositivo móvil.
    </p>
    <p>3. Contenido del usuario</p>
    3.1. Contenido del usuario: La app puede proporcionar a los titulares de
    cuentas Proveedores diferentes posibilidades de subir o publicar artículos,
    ofertas, rebajas y otros contenidos (denominados en general como “Contenido
    del Usuario”). Puede que usted tenga que disponer de una Cuenta para subir
    Contenido de Usuario.
    <p>
      3.2. Creador de Contenido de Usuario: Si aporta algún Contenido de
      Usuario, declara y garantiza que usted es el creador de Contenido de
      Usuario o, si actúa en nombre del creador, que usted dispone de la
      autorización expresa y clara del creador para subir o publicar ese
      Contenido de Usuario, y que usted dispone de todos los derechos necesarios
      para otorgar las licencias y concesiones establecidas en este Acuerdo en
      lo que respecta al Contenido de Usuario. Además usted declara y garantiza
      que al compartir el Contenido de Usuario para los fines que usted ha
      elegido no vulnera o infringe ningún copyright, marca u otro derecho de
      propiedad intelectual o derechos de terceros, incluyendo los derechos de
      publicidad y privacidad, o que si actúa en nombre del creador del
      Contenido de Usuario, éste lo ha declarado y lo garantiza.
    </p>
    <p>
      3.4. Uso del Contenido de Usuario: GTS tiene el derecho exclusivo y
      absoluto, aunque no la obligación, de revisar, editar, publicar, rechazar
      la publicación, quitar y monitorizar el Contenido de Usuario. Además, GTS
      tiene el derecho exclusivo y absoluto, aunque no la obligación, de revelar
      el Contenido de Usuario y las circunstancias que rodean su transmisión a
      cualquier tercero, en cualquier momento, por cualquier razón, incluyendo
      la determinación del cumplimiento de este Acuerdo y cualquier regla
      operativa establecida por GTS, así como para cumplir con la legislación
      aplicable, regulaciones o peticiones autorizadas de la administración
      pública. Sin óbice de lo anterior, GTS tiene derecho a quitar cualquier
      material de la app a su libre y único albedrío. GTS no asume
      responsabilidad alguna por ningún Contenido de Usuario u otra información
      que aparezca o sea eliminada de la app o de otros sitios. GTS no está
      obligado a usar su Contenido de Usuario y puede que no lo use en absoluto.
    </p>

    <p>
      T3.5. Modificar o eliminar Contenido de Usuario: En algunas circunstancias
      y de vez en cuando, puede que sea posible modificar o eliminar el
      Contenido de Usuario que usted subió o publicó a través de su cuenta.
    </p>

    <p>
      3.6. Naturaleza pública del Contenido de Usuario: Usted entiende y está de
      acuerdo en que el Contenido de Usuario es público. Cualquier persona, sea
      o no un usuario de los servicios de GTS, puede leer su Contenido de
      Usuario sin su conocimiento. Por favor, no incluya información personal
      adicional alguna o cualquier otra información en su Contenido de Usuario
      salvo que desee que sea conocida públicamente. GTS no es responsable del
      uso o revelación de cualquier información personal o cualquier otra
      información que usted revele en conexión con el Contenido de Usuario.
    </p>
    <p>
      3.7. Exención de responsabilidad: Cualquier Contenido de Usuario de
      cualquier tipo realizado por usted o por un tercero, ha sido realizado por
      su(s) respectivo(s) autor(es) o distribuidor(es) y no por GTS. Otros
      usuarios pueden publicar Contenido de Usuario inexacto, que induce a error
      o engañoso. GTS no asume y no es responsable de ningún Contenido de
      Usuario, y no será responsable ante usted o cualquier otra persona por
      cualquier pérdida o daño causado por su confianza en tal Contenido de
      Usuario. El Contenido de Usuario refleja las ideas de la persona que lo
      publica.GTS no controla ni asume ningún Contenido de Usuario, y renuncia
      específicamente a cualquier responsabilidad concerniente o relativa a su
      contribución, uso o dependencia de cualquier Contenido de Usuario y
      cualquier acción que resulte de su participación en cualquier parte de la
      app o los servicios, incluyendo cualquier Contenido de Usuario objetable.
    </p>
    <p>
      3.8. Cesión: Algún Contenido de Usuario que usted envíe a GTS puede ser
      mostrado o puede darle la opción de mostrarlo en conexión con su
      información personal, o una parte de su información personal, incluyendo,
      aunque sin limitarse a, su nombre, iniciales, nombre de usuario, nombre
      usuario de cuenta de red social, imagen, aspecto, preferencias, voz y
      localización. Usted cede a GTS un derecho libre de royalties, perpetuo,
      irrevocable, sublicenciable, completamente pagado, no exclusivo,
      transferible y mundial a usar, mostrar, distribuir, ofrecer para la venta
      y vender la información personal en relación con su Contenido de Usuario,
      ya aparezca este Contenido de Usuario en solitario o como parte de otras
      obras, y en cualquier medio o tecnología, ya sea conocida en la actualidad
      o desarrollada en el futuro, y a sublicenciar tales derechos a través de
      múltiples niveles de sublicencias, y todo sin una compensación para usted.
      Sin embargo, GTS no estará obligado a usar su información personal en
      relación con ningún Contenido de Usuario.
    </p>
    <p>
      3.9. Licencia: En la relación entre usted y GTS, usted podrá retener todos
      sus derechos de propiedad sobre y respecto al Contenido de Usuario que
      envíe o publique. Sin embargo, al contribuir con Contenido de Usuario u
      otra información en o a través de nuestra app, usted cede a GTS un derecho
      libre de royalties, perpetuo, irrevocable, sublicenciable, completamente
      pagado, no exclusivo, transferible y mundial y licencia a usar,
      reproducir, crear obras derivadas, publicar, editar, traducir, distribuir,
      ejecutar, mostrar, transmitir, ofrecer para la venta y vender el Contenido
      de Usuario, ya aparezca este Contenido de Usuario en solitario o como
      parte de otras obras de la forma que sea, y en cualquier medio o
      tecnología, ya sea conocida en la actualidad o desarrollada en el futuro,
      y a sublienciar tales derechos a través de múltiples niveles de
      sublicencias, y todo sin una compensación para usted. Usted renuncia a
      cualquier tipo de “derechos morales” u otros derechos respecto a la
      atribución de la autoría o integridad de los materiales del Contenido de
      Usuario que usted pudiera tener conforme a cualquier legislación aplicable
      o doctrina legal. La licencia de GTS sobre cualquier Contenido de Usuario
      o información personal enviada incluye el uso de promociones, publicidad,
      marketing, estudios de mercado, información para la empresa prestataria,
      control de calidad o cualquier otra finalidad legal.
    </p>

    <p>4. Estándares y limitación de responsabilidad de GTS</p>
    <p>
      4.1. Estándares bajo los que operamos: GTS siempre intenta hacer su
      trabajo lo mejor posible y promete que:
    </p>

    <p>
      4.1.1. aplicaremos el cuidado y la habilidad razonable al cumplir con
      cualquier obligación conforme a este Acuerdo; y
    </p>
    <p>
      4.1.2. y que no actuaremos en contra de la diligencia profesional debida
      en nuestro trabajo.
    </p>

    <p>
      4.2. ¡La Cláusula 4 es importante!: Esta cláusula 4 tiene preferencia
      sobre el resto de las cláusulas de este Acuerdo y establece la
      responsabilidad total respecto a la actuación, omisión, actuación
      intencionada o retraso en la actuación en este Acuerdo, los Servicios, en
      la app; o en su caso en relación con este Acuerdo o la entrada en vigor de
      este Acuerdo.
    </p>

    <p>
      4.3. De qué no somos responsables: Nada en este acuerdo puede excluir o
      limitar nuestra Responsabilidad por (i) fraude; (ii) muerte o daños
      personales causados por nuestra negligencia; (iii) mala conducta grave por
      nuestra parte, excluyendo la mala conducta grave no achacable al mismo
      GTS; o (iv) cualquier responsabilidad que no pueda ser excluida o limitada
      por la ley aplicable. Usted está obligado a dar los pasos necesarios para
      evitar o reducir los daños.
    </p>

    <p>
      4.4. Tipos de pérdidas de las que no somos responsables: Con independencia
      de la cláusula 4.3, dado que solo ofrecemos el sitio Web y Servicios para
      su uso no comercial, nunca seremos responsables de:
    </p>

    <p>4.4.1. la pérdida de ingresos o rentas;</p>

    <p>4.4.2. la pérdida real o prevista de beneficios;</p>

    <p>4.4.3. la pérdida de negocio; o</p>

    <p>
      4.4.4. la pérdidas indirectas o consecuenciales (y para evitar cualquier
      duda, entendemos que las palabras “pérdidas consecuenciales” significan
      “pérdidas derivadas de consecuencias, ya sean estas pérdidas previsibles,
      sabidas, previstas o de cualquier otro tipo”).
    </p>

    <p>5. Sus obligaciones</p>
    <p>
      5.1. Información exacta: Usted garantiza que toda la información ofrecida
      durante el registro y contenida en su Cuenta durante la ejecución de este
      Acuerdo es verdadera, completa y exacta, y que nos informará de cualquier
      cambio en dicha información inmediatamente actualizando los datos de su
      cuenta.
    </p>
    <p>
      5.2. Contenido en la app: Usted es responsable de asegurarse de que todos
      los objetos, la información o los productos disponibles en la app se
      ajustan a sus propios requisitos.
    </p>
    <p>
      5.3. Cosas que usted no puede hacer: Usted se compromete sin límite alguno
      a no usar o a no permitir el uso a nadie de los Servicios o en la app:
    </p>
    <p>
      5.3.1. para subir, enviar o recibir cualquier material, incluyendo
      Contenido de Usuario, que no sea civilizado o de buen gusto;
    </p>
    <p>
      5.3.2. para subir, enviar o recibir cualquier material, incluyendo
      Contenido de Usuario, que sea ilegal, dañino, agraviante, amenazante,
      abusivo, hostil, inductor al odio, racista, homofóbico, infractor,
      pornográfico, violento, engañoso, extremadamente ofensivo, de carácter
      indecente, obsceno o amenazante, blasfemo o difamatorio o de naturaleza
      calumniosa para una persona o entidad, en desacato a los tribunales o con
      abuso de confianza, o que infrinja los derechos de otra persona u entidad,
      incluyendo derechos de propiedad intelectual, , marcas comerciales,
      secretos comerciales, patentes, derechos de imagen, publicidad o
      privacidad o cualquier derecho de terceros;
    </p>
    <p>
      5.3.3. para subir, enviar o recibir cualquier material, incluyendo
      Contenido de Usuario, sobre el cual no haya obtenido las licencias y/o
      permisos necesarios (por nuestra parte o por terceros); o que constituyan
      o promueva una conducta que pueda ser considerada un delito, dé lugar a
      una responsabilidad civil, sea contrario a la ley de cualquier otra manera
      o infrinja los derechos de cualquier tercero en cualquier parte del mundo.
    </p>
    <p>
      5.3.4. para subir, enviar o recibir cualquier material que sea dañino
      técnicamente (incluyendo virus de ordenador, troyanos, gusanos,
      componentes dañinos, datos corruptos, software malicioso, datos dañinos, o
      cualquier otra cosa que pudiera interrumpir, interferir, corromper o
      causar cualquier otro tipo de pérdida, daño, destrucción o limitación de
      la funcionalidad de cualquier software o equipo informático);
    </p>
    <p>5.3.5. para causar molestias, inconvenientes o ansiedad innecesaria;</p>

    <p>
      5.3.6. para interceptar o intentar interceptar cualquier comunicación
      transmitida por medio de un sistema de telecomunicaciones;
    </p>
    <p>
      para un fin distinto del que nosotros le hemos designado o para el que
      queremos que se use;
    </p>
    <p>5.3.8. para propósitos fraudulentos; o</p>
    <p>
      5.3.9. de cualquier manera calculada para incitar al odio contra cualquier
      minoría étnica, religiosa u otra minoría o calculada para afectar
      adversamente a cualquier individuo, grupo o entidad.
    </p>
    <p>
      5.4. Usos prohibidos: Los siguientes usos de la app y los Servicios están
      expresamente prohibidos y usted se compromete a no hacer y a impedir que
      cualquier otro haga lo siguiente:
    </p>
    <p>5.4.1. revender los Servicios o en la app;</p>
    <p>
      5.4.2. facilitar datos falsos incluyendo nombres, direcciones y datos de
      contacto falsos y usar fraudulentamente números de tarjetas de
      crédito/débito;
    </p>
    <p>
      5.4.3. intentar burlar nuestra seguridad o red, incluyendo el acceso a
      datos no destinados a usted, acceder a un servidor o Cuenta para el que no
      tiene expresamente autorizado el acceso, o poner a prueba la seguridad u
      otras redes (por ejemplo, ejecutando un escaneo de puertos);
    </p>

    <p>
      5.4.4. acceder a los Servicios (o a la app) como si se cometiera o se
      fuera a cometer un acto que suponga o pudiera suponer una carga no
      razonable o desproporcionadamente grande para nuestra infraestructura, o
      que interrumpa de otra manera o interfiera su funcionalidad, eficiencia u
      operación;
    </p>
    <p>
      5.4.5. ejecutar cualquier forma de monitorización de red que intercepte
      datos no destinados a usted;
    </p>
    <p>
      5.4.6. iniciar interacciones fraudulentas con nosotros, un Proveedor o un
      Empresario, lo que incluye iniciar interacciones o transacciones
      voluntariamente en nombre de un tercero, en las que usted no tenga permiso
      para obligar a ese tercero o usted pretenda ser ese tercero;
    </p>
    <p>
      5.4.7. usar los Servicios o en la app (o cualquier función relevante de
      cualquiera de ellos) infringiendo este Acuerdo;
    </p>

    <p>
      5.4.8. dedicarse a cualquier actividad ilegal o criminal en conexión con
      el uso de los Servicios y/o en la app; o
    </p>
    <p>
      5.4.9. copiar o usar Contenido de Usuario con cualquier fin comercial.
    </p>
    <p>
      5.5. Equipo: El uso de los Servicios y de la app no incluyen la entrega de
      un ordenador o del equipo necesario para acceder a ellos. Para usar los
      Servicios o el sitio Web necesita conexión a Internet y los enlaces de
      telecomunicaciones apropiados. No somos responsables de los costes de
      teléfono, telecomunicaciones u otros en los que pudiera incurrir.
    </p>
    <p>6. Reglas sobre el uso de los servicios y de este sitio web</p>
    <p>
      6.1 Errores y omisiones: GTS realizará cualesquiera esfuerzos razonables
      que procedan a efectos de subsanar cualquier error u omisión a la mayor
      brevedad posible desde el momento en que le fuera notificada. GTS se
      reserva el derecho a cambiar, modificar, sustituir, suspender o retirar
      sin previo aviso cualquier Oferta, Rebaja, Servicio o información de la
      app o que formara parte de los Servicios en cualquier momento.
    </p>
    <p>
      6.2. Virus y similares: No garantizamos que los Servicios o en la app
      estén libres de virus o cualquier otra cosa que pueda tener efectos
      dañinos en cualquier tipo de tecnología.
    </p>
    <p>
      6.3. Cierre de acceso: aunque intentamos mantener un acceso ininterrumpido
      a los Servicios y a la app, el acceso a estos podrá ser suspendido,
      restringido o cancelado en cualquier momento. Su acceso a la app y/o los
      servicios también puede verse restringido ocasionalmente para
      reparaciones, mantenimiento o la introducción de nuevos dispositivos o
      servicios. Intentaremos restaurar tal acceso tan pronto como
      razonablemente podamos. También nos reservamos el derecho a bloquear el
      acceso y/o editar o quitar cualquier material que en nuestra razonable
      opinión pueda llevar a un incumplimiento de este Acuerdo.
    </p>

    <p>
      6.4. Cerrar Cuentas: Nos reservamos el derecho a cerrar Cuentas si
      cualquier usuario estuviera vulnerando nuestros términos de uso (por
      ejemplo, este Acuerdo), incluyendo si existen indicios razonables o
      tenemos conocimiento de que está usando una IP de proxy (direcciones de
      protocolo de Internet) para intentar ocultar el uso de varias cuentas, o
      si un usuario pretende estar situado en un país diferente al de su
      residencia real, o si interrumpe la app o los Servicios de cualquier
      manera.
    </p>
    <p>
      6.5. Varias cuentas: Si usted usa varias Cuentas y tomamos alguna medida
      contra usted, puede que esa medida se dirija contra todas sus Cuentas.
    </p>
    <p>7. Suspensión y cancelación</p>
    <p>
      7.1. Si usted o alguien que no sea usted, pero con su permiso, usa los
      Servicios o la app contraviniendo este Acuerdo, podremos suspender para
      usted el uso de los Servicios y/o el sitio, total o parcialmente.
    </p>
    <p>
      7.2. Si suspendemos los Servicios o la app, podremos rechazar la
      restitución de los Servicios o la app hasta que recibamos sus garantías,
      en la forma que estimemos aceptable, de que no habrán nuevos
      incumplimientos de las disposiciones de este Acuerdo.
    </p>
    <p>
      7.3. GTS cooperará con cualquier autoridad encargada de hacer cumplir la
      ley o tribunal que solicite u ordene a GTS revelar la identidad o
      localizar a cualquier persona que incumpla este Acuerdo.
    </p>
    <p>
      7.4. Estamos facultados inmediatamente o en cualquier momento, sin que se
      oponga nada en esta cláusula 7, (en todo o en parte) a: i) suspender los
      Servicios y/o la app; ii) suspender su uso de los Servicios y/o la app;
      iii) suspender el uso los Servicios y/o la app a personas que creamos que
      están conectadas (no importa de qué manera) con usted; y/o iv) cancelar
      este Acuerdo inmediatamente si:
    </p>
    <p>7.4.1. usted incumple de cualquier manera este Acuerdo;</p>
    <p>
      7.4.2. tenemos sospechas fundadas de que usted ha incumplido, puede, o va
      a incumplir este Acuerdo;
    </p>
    <p>
      7.4.3. tenemos sospechas fundadas de que pueda haber cometido o esté
      cometiendo fraude contra nosotros u otra persona.
    </p>
    <p>
      7.5. A pesar de todo lo que se ha incluido en esta cláusula 7, podemos
      cancelar este acuerdo en cualquier momento.
    </p>
    <p>
      7.6. Nuestro derecho a cancelar este Acuerdo no podrá perjudicar ningún
      otro derecho o recurso que podamos tener ante cualquier incumplimiento, o
      cualquier derecho, obligación o responsabilidad adquirida antes de la
      cancelación.
    </p>
    <p>8. Protección de datos</p>
    <p>
      8.1. Le rogamos lea nuestra
      <a style="color: #1a0dab" routerLink="/privacity"
        >Declaración de Privacidad</a
      >
      y la
      <a style="color: #1a0dab" routerLink="/terms&conditions"
        >Política de Cookies</a
      >, que forma parte de este Acuerdo.
    </p>
    <p>9. Anuncios</p>
    <p>
      9.1. Se podrán enviar anuncios en nuestro nombre por una empresa
      publicitaria tercera, la cual, en nuestro nombre, sitúa o reconoce una
      “cookie” única en su navegador. Si quiere más información sobre esta
      práctica y saber cuáles son sus opciones para que ninguna empresa use esta
      información, lea nuestra
      <a style="color: #1a0dab" routerLink="/terms&conditions"
        >Política de Cookies</a
      >
      y la
      <a style="color: #1a0dab" routerLink="/privacity"
        >Declaración de Privacidad</a
      >
      .
    </p>
    <p>10. Generalidades</p>
    <p>10.1. Interpretación: En este acuerdo:</p>
    <p>
      10.1.1. las palabras que denotan personas incluyen personas físicas,
      sociedades, corporaciones y asociaciones de personas sin personalidad
      jurídica;
    </p>
    <p>
      10.1.2. los encabezamientos como (&quot;10. GENERALIDADES&quot; al
      principio de esta cláusula) y los títulos de sección (como
      “Interpretación:”) al principio de esta cláusula 10.1) aparecen
      simplemente para facilitar la consulta y no forman parte ni afectan a la
      interpretación de este Acuerdo; y
    </p>
    <p>
      10.1.3. las referencias a “incluye” e “incluyendo” se deben considerar
      respectivamente “incluye sin límite” y “incluyendo sin límite”.
    </p>
    <p>
      10.2. Ausencia de sociedad/agencia: Ningún contenido de este Acuerdo podrá
      ser interpretado para crear una relación de joint venture, sociedad o
      agencia entre usted y nosotros, y ninguna parte tendrá derecho o autoridad
      para incurrir en responsabilidad, deudas o gastos, o para concluir
      cualquier contrato u otros acuerdos en el nombre o en representación de la
      otra.
    </p>
    <p>
      10.3. No aplicabilidad de otros términos: Salvo que se establezca
      expresamente en este Acuerdo, todas las garantías, condiciones y otros
      términos, ya sean expresos o implícitos, derivados de actos legislativos,
      de la costumbre o de otra fuente, quedan por la presente excluidos en todo
      lo que permita la ley.
    </p>
    <p>
      10.4. Cesión: Conforme a este Acuerdo usted no cederá, transmitirá o
      negociará sus derechos u obligaciones de otra manera. Nosotros
      dispondremos de la facultad de ceder o transmitir todos o parte de
      nuestros derechos u obligaciones a otra persona conforme a este Acuerdo.
    </p>
    <p>
      10.5. Eventos fuera de nuestro control razonable: No somos responsables de
      cualquier incumplimiento de nuestras obligaciones nacidas de este acuerdo
      cuando la causa que nos haya impedido cumplir nuestras obligaciones se
      encuentre fuera de nuestro control razonable.
    </p>
    <p>
      10.6. Exención de renuncia: Ninguna renuncia nuestra sobre cualquier
      incumplimiento suyo conforme a este Acuerdo puede ser usada o interpretada
      como una renuncia nuestra sobre futuros incumplimientos, ya sean del mismo
      o de diferente tipo. El que le concedamos tiempo, prórrogas o comprensión
      no supone ningún alivio, descarga u otra afección a su Responsabilidad
      conforme a este Acuerdo.
    </p>
    <p>
      10.7. Notificaciones: Salvo que se disponga de otra manera en este
      Acuerdo, las notificaciones que se hayan de hacer a cualquiera de las
      partes serán por escrito y entregadas en mano, por correo electrónico
      (salvo que nos envíe una notificación dentro de un proceso judicial) o
      mediante correo postal, en su caso en la dirección que usted nos
      proporcione, y en nuestro caso en nuestra sede social.
    </p>
    <p>
      10.8. Exclusión de derechos de Terceros: Por la presente, usted acuerda y
      reconoce que GTS se vincula por este Acuerdo para su propio beneficio pero
      también como representantes de y en beneficio y de los terceros
      proveedores y licenciantes (los &quot;Terceros Titulares&quot;), y cada
      uno tendrá derecho a reclamar y ejecutar tales disposiciones directamente
      o por su cuenta (como si cada uno de ellos fuese parte de este Acuerdo).
      Conforme a la frase anterior, ningún término de este Acuerdo puede ser
      ejercido de otra forma por cualquier otra persona que no sea parte de él.
      Ello significa que al contrario que como se establece en la frase
      anterior, usted y nosotros somos los únicos que podemos aplicar los
      términos de este Acuerdo.
    </p>
    <p>
      10.9. Divisibilidad: Si cualquier disposición de este Acuerdo fuera
      considerada ilegal, inválida o inaplicable, esa disposición se considerará
      separada y si fuera posible no afectará a la validez y la aplicabilidad
      del resto de las disposiciones de este Acuerdo.
    </p>
    <p>
      10.10. Derecho aplicable: Haremos todo lo posible para resolver cualquier
      disputa sobre este Acuerdo. En la máxima medida permitida por ley, este
      Acuerdo (así como toda relación extracontractual entre usted y nosotros)
      estará sujeto a la ley de España.
    </p>
    <p>11. Definiciones</p>
    <p>
      En este Acuerdo, se utilizarán diversos términos definidos. Usted sabrá
      que están definidos porque comienzan con una letra mayúscula. Esto es lo
      que significan:
    </p>
    <p>“Cuenta” se refiere a su Cuenta ClubIn.</p>
    <p>
      “Responsabilidad” significa responsabilidad dentro de o con motivo de
      cualquier tipo de acción de reclamación (incluyendo el incumplimiento de
      contrato, agravio, falseamiento, devolución o cualquier otra causa)
      relativa, derivada o en conexión con este Acuerdo (incluyendo la
      responsabilidad expresamente dispuesta por este Acuerdo o derivada de la
      invalidez o inaplicabilidad de cualquier término de este Acuerdo). Para la
      utilización de esta definición, todas las referencias al “Acuerdo” se
      consideraran que incluyen cualquier contrato accesorio.
    </p>
    <p>
      “Registrar” significa crear una Cuenta en la app, y “Registro” significa
      la acción de crear una Cuenta.
    </p>
    <p>
      “Servicios” son todos los servicios que proporciona GTS a través de la app
      (o vía comunicaciones electrónicas, u otras) incluyendo las aplicaciones
      móviles, nuestras newsletters, correos electrónicos que le enviamos y los
      servicios de información, las funciones de contenido y transacción del
      Sitio Web (incluyendo la posibilidad de hacer una compra).
    </p>
    <p>
      “Productos ” son los bienes y/o servicios que se describen como parte de
      ua oferta o rebaja.
    </p>
  </div>
  <app-footer style="width: 100%"></app-footer>
</div>
