.text {
  text-align: center;
}
.text > h6 {
  color: #787878;
}
.button-row {
  padding-left: calc(50% - 100px);
  height: 60px;
}
.button {
  width: 200px;
  height: 60px;
  padding: 0;
  border: none;
}
.button-image {
  height: 60px;
  width: auto;
}
