<section class="ae-container custom-section">
  <div class="ae-grid">
    <div class="ae-grid__item item-xs-12">
      <div class="text">
        <h5>Actualmente nuestra página web se encuentra en mantenimiento.</h5>
        <h6>Descarga nuestra App en Play Store</h6>
      </div>
    </div>
    <div class="ae-grid__item item-xs-12 button-row">
      <button (click)="onClick()" class="button">
        <img class="button-image" src="assets/img/play.png" alt="x" />
      </button>
    </div>
  </div>
  <app-footer style="width: 100%"></app-footer>
</section>
