<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-grid">
    <div class="pic">
      <img src="assets/img/repair.png" alt="" />
      <div class="item-meta">
        <h2>Página en Mantenimiento</h2>
        <p>Maintenance page</p>
      </div>
    </div>
    <div class="text">
      <h5>Actualmente nuestra página web se encuentra en mantenimiento.</h5>

      <h6>Descarga nuestra App en Play Store</h6>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center">
        <button (click)="onClick()" class="buton">
          <img class="imag" src="assets/img/play.png" alt="x" />
        </button>
      </div>
    </div>
  </div>
</section>
